/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#logout_button {
	position: relative;
	top: 25px;
}

/*Bestelformulier*/

#bestelformulier {
	position: relative;
	width: 100%;
	height: auto;
	padding: 25px;
}
#bestelformulier h1 {
	font-family: sans-serif;
	font-size: 2em;
	font-weight: 200;
	line-height: 3em;
	color: rgba(50,50,35,.6);
	margin-bottom: 35px;
}
#bestelformulier p {
	font-size: 1.2em;
}
#bestelformulier p span {
	float: right;
}

/*Cart*/

#checkout_cart {
	margin-bottom: 45px;
}

#checkout_cart p,
#checkout_cart b {
	font-size: 1.3em;
	margin: 0;
	padding: 0;
}

#checkout_cart span {
	float: right;
}

#checkout_cart hr {
	margin: 15px 0px!important;
}