/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#logout_button {
	position: relative;
	top: 25px;
}

/*Cart*/

#checkout_cart {
	margin-bottom: 45px;
}

#checkout_cart p,
#checkout_cart b {
	font-size: 1.3em;
	margin: 0;
	padding: 0;
}

#checkout_cart span {
	float: right;
}

#checkout_cart hr {
	margin: 15px 0px!important;
}